[Task]
name=Wuhan
Description=中国的经纬度范围大约为：纬度29.9828--31.3703，经度113.6994--115.0869
Basic_url=http://ecn.t0.tiles.virtualearth.net/tiles/a%s.jpeg?g=2241
;西经，东经，南纬，北纬
Area=113.6994,115.0869,29.9828,31.3703
maxZoom=21
minZoom=13
finish=0

[Task-State]
currentX=0
currentY=0

[Debug]
debugmode=1
TryTimes=1000

[Run]
MAX_Threads=200
MAX_QUEUE=2000

[File]
ImageFloder=D:/bing/wuhan/%s


